.category {
  width: 80px;

  .categoryItem {
    padding: 15px 10px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 8px;

    &.active {
      color: var(--primary-color);
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
